
.navbar {
  display: flex;
  color: gray;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  background-image: url('https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg');
}

.logo {
  margin-top: 10px;
  border-radius: 30px;
}

.navbar h3 {
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar h3.active {
  color: white;
  background-color: darkgray;
  border-radius: 5px;
}

.login-button-container {
  margin-top: 10px;
}

.login-button {
  background-color: pale;
  border-radius: 10px;
  width: 60px;
  height: 5ch;
  border-color: whitesmoke;
  color: black;
}